In [ ]:
Day5-1 作業

在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果。請嘗試想像一個你需要的資料結構 (裡面的值是隨機的)，然後用程式碼範例的方法把它變成 DataFrame

method 1

In [9]:
import pandas as pd

data = { 'weekday':['Sun','Sun','Mon','Mon'],
        'city':['Austin','Dalls','Autsin','Dalls'],
        'vistor':[139,140,159,160]
    
}

In [11]:
vistor1 = pd.DataFrame(data)
vistor1

  weekday    city  vistor
0     Sun  Austin     139
1     Sun   Dalls     140
2     Mon  Autsin     159
3     Mon   Dalls     160

method 2

In [18]:
weekday = ['Sun','Sun','Mon','Mon']
city = ['Austin','Dallas','Austin','Dallas']
vistor = [139,140,159,160]


list_tab = ['weekday','city','vistor']
list_cols = [weekday, city, vistor]

zipped = list(zip(list_tab, list_cols))

zipped

[('weekday', ['Sun', 'Sun', 'Mon', 'Mon']),
 ('city', ['Austin', 'Dallas', 'Austin', 'Dallas']),
 ('vistor', [139, 140, 159, 160])]

In [20]:
vistor_2 = pd.DataFrame(dict(zipped))

vistor_2

  weekday    city  vistor
0     Sun  Austin     139
1     Sun  Dallas     140
2     Mon  Austin     159
3     Mon  Dallas     160

groupby method

In [24]:
vistor1.groupby(by = 'weekday')['vistor'].mean()
#vistor1.groupby(by = 'weekday')['vistor'].max()

weekday
Mon    159.5
Sun    139.5
Name: vistor, dtype: float64

In [ ]:
data_rnd = []